*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

/* Navigation Bar */

.navigation-tab{
    width: 100%;
    height: 69px;
    display: block;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo{
    height: 50px;
    float: left;
    padding-left: 10px;
}

.navigation{
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}
/* Company's Mission */
.mission-container{
    background-image: url(../Images/Background.webp);
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.mission-text{
    margin: auto;
    background-color: black;
    width: 100%;
    padding: 20px;
}

.inner-mission.title{
    padding-bottom: 5px;
}

.inner-mission.subtitle{
    padding-top: 5px;
}
/* Tea of the Month */
.trend-container{
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trend img{
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}

.inner-tea.title{
    padding-bottom: 5px;
}

.inner-tea.subtitle{
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Locations */
.banner{
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url(../Images/Locations.webp);
    background-position: center;
    background-size: cover;
}

.locations-container{
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;

}

.inner-locations-container{
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    background-color: black;
    opacity: 0.9;
}

footer{
    height: 200px;

}

.contact{
    padding-top: 30px;
}
.copyright{
    display: block;
    float: left;
    padding-left: 20px;
}