*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid coral;
}

html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Navigation Bar */

.logo{
    height: 50px;
    margin-left: 10px;
}

.navigation{
    text-decoration: underline;
    display: inline-flex;
    text-align: right;
    width: auto;
}

/* Company's Mission */
.mission{
    background-image: url(../Images/Background.webp);
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-mission{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
}